In [1]:
# Import necessary packages
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import earthpy as et

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Use white grid plot background from seaborn
sns.set(font_scale=1.5, style="whitegrid")

In [2]:
# Download csv of temp (F) and precip (inches) in July 2018 for Boulder, CO
file_url = "https://ndownloader.figshare.com/files/12948515"
et.data.get_data(url=file_url)

# Set working directory
os.chdir(os.path.join(et.io.HOME, 'earth-analytics'))

# Define relative path to file
file_path = os.path.join("data", "earthpy-downloads",
                         "july-2018-temperature-precip.csv")

# Import file into pandas dataframe
boulder_july_2018 = pd.read_csv(file_path)

Downloading from https://ndownloader.figshare.com/files/12948515

In [4]:
boulder_july_2018

          date  max_temp  precip
0   2018-07-01        87    0.00
1   2018-07-02        92    0.00
2   2018-07-03        90 -999.00
3   2018-07-04        87    0.00
4   2018-07-05        84    0.24
5   2018-07-06        87    0.00
6   2018-07-07        96    0.00
7   2018-07-08        96    0.00
8   2018-07-09        93    0.00
9   2018-07-10        97    0.00
10  2018-07-11        95    0.00
11  2018-07-12        92    0.05
12  2018-07-13        88    0.00
13  2018-07-14        94    0.00
14  2018-07-15        93    0.45
15  2018-07-16        85    0.02
16  2018-07-17        84 -999.00
17  2018-07-18        94 -999.00
18  2018-07-19        97    0.00
19  2018-07-20        94    0.00
20  2018-07-21        93    0.05
21  2018-07-22        94    0.11
22  2018-07-23        78    0.31
23  2018-07-24        86    0.11
24  2018-07-25        82    0.03
25  2018-07-26        81    0.07
26  2018-07-27        80    0.35
27  2018-07-28        77    0.01
28  2018-07-29        75    0.04
29  2018-07-30        77    0.00
30  2018-07-31        84    0.00